body {
    background-color:rgb(86, 219, 219);
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: container;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px; ;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
  }
  .container{
    list-style: none;
  }
  .icon-list{
    list-style: none;
  }